@import url("styles/header.css");
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #fff;
}

body {
    background-color: var(--cor-de-fundo);
    background-color: #fff;
    font-family: Arial, sans-serif;
}

h1 {
    background-color: white;
    font-size: 2rem;
}

.container {
    max-width: 100%;
    padding: 0 15px;
}